html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.logo {
  height: 2.15rem;
  width: 3.15rem;
}

li a {
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

li a:link,
li a:visited {
  color: #cccccc;

  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.hero-text {
  color: #cccccc;
  font-weight: 100;
}

li a:hover,
li a:active {
  color: #fb503b;
}

.fh-100 {
  height: 85vh;
}

.card {
  box-shadow: 4px 4px 4px 6px#14141441;
}

.card-text {
  font-size: 1.1rem;
  font-weight: 300;
}
